.bar-chart {
    display: block;
    width: 230px;
    margin: 0 auto;
    padding: 1.2em;
    margin-top: 10%;
    background-color: whitesmoke;
}

.bar {
    display: inline-block;
    width: 35px;
    height: 300px;
    margin: 1.2em;
    background-color: rgba(128, 128, 128, 0.376);
}

.bar-outer {
    display: inline-block;
}

.bar-inner {
    height: 300px;
    background-color: white;
}

#bar1 .bar-inner {
    animation-name: resize1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#bar2 .bar-inner {
    animation-name: resize2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#bar3 .bar-inner {
    animation-name: resize3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

h1 {
    margin: auto;
    text-align: center;
    padding-top: 25px;
    bottom: auto;
}

p {
    margin: 0 auto;
    text-align: center;
}

@keyframes resize1 {
    from {
        height: 100%;
    }

    to {
        height: 70%;
    }
}

@keyframes resize2 {
    from {
        height: 100%;
    }

    to {
        height: 60%;
    }
}

@keyframes resize3 {
    from {
        height: 100%;
    }

    to {
        height: 20%;
    }
}